.user-profile {
  width: 100%;
  height: 1080px;
  background-image: url("../../assets/images/bg.png");
  background-size: 100% 100%;
  font-family: "Open Sans";
  header {
    padding: 50px 72px 0px 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
